body {
    font-family: 'Open Sans', sans-serif;
}

p, h1, h2, h3, h4, label, button, span {
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0px 0px 0px rgba(150, 150, 150, 0);
}
p.texto-centrado{
    text-align: center;
}
.gris-01{
    color:#666666;
}
input {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.label-form{
    font-weight: normal;
    font-size: 12px;
}
.textarea-01{
    width: 100%;
    resize: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 12px;
    height: 82px !important;
    padding: 3px 6px;
}
span.form-control{
    display: none;
}
.rojo {
    color: #eb2026;
}
.bold{
    font-weight: bold;
}
.ajuste-alto {
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
}

#content {
    margin-bottom: 0;
}

.volver-btn {
    top: 0;
    position: relative;
    left: 8px;
    z-index: 1000;
    margin-top: -44px;
    width: 35px;
    display: block;
}

.volver-btn img {
    width: 100%;
}

.menu-drop {
    top: 0;
    position: relative;
    right: 0;
    z-index: 9500;
    margin-top: -40px;
}

.btn-nav-icon, .btn-nav-icon:focus, .btn-nav-icon:hover {
    border: 0;
    background: transparent !important;
}

.nav-icon {
    width: 34px;
}

.loader {
    position: fixed;
    z-index: 9600;
    background: rgba(256, 256, 256, .5);
    width: 100%;
    height: 100%;
    display: none;
}

.loader p {
    width: 100%;
    text-align: center;
    left: 0%;
    position: absolute;
    top: 50%;
    margin: -6px 0 0 0;
    font-size: 15px;
    color: #666;
}

.loader img {
    width: 80px;
    left: 50%;
    position: absolute;
    top: 50%;
    margin: -40px 0 0 -40px;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 16px;
    font-style: italic;
}

h4 {
    font-weight: regular;
    text-align: center;
    font-size: 12px;
}

p {
    font-size: 13px;
}
p.small{
    font-size: 11px;
}
.container {
    width: 100%;
}

.logo {
    display: table;
    margin: 15px auto 15px;
    width: 67%;
    max-width: 300px;
}

.line-01 {
    height: 4px;
    position: relative;
    width: 100%;
    background-color: #919395;
}

.line-02 {
    height: 0px;
    position: relative;
    width: 100%;
    border-width: 1px 0 0 0;
    border-style: dotted;
    border-color: #000;
}

.content-menu-home {
    position: relative;
    margin: 25px auto 34px;
    padding: 0 10%;
}

.content-menu-home a {
    display: table;
    margin: 0 auto 19px;
    width: 98%;
    max-width: 580px;
}

.content-menu-home a img {
    width: 100%;
}

#splash {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-size: cover;
}

.ui-loader {
    display:none !important;
}

header {
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: repeat;
    float: left;
}

footer {
    position: relative;
    width: 100%;
    float: left;
    background-size: cover;
    background-repeat: repeat;
    background-image: url(../img/background-footer.png);
    z-index: 9600;
}

.content-search {
    position: relative;
    float: left;
    width: 100%;
    background-color: #e6e6e6;
}

.content-search .form-control {
    background-color: #fff;
    border: 0;
    padding-left: 40px;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    border-radius: 12px !important;
}

.content-search .input-group {
    width: 80%;
    padding: 11px 0px;
    position: relative;
    margin: 0 10%;
}

.gps-estado {
    position: absolute;
    z-index: 1000;
    height: 90%;
    width: auto;
    top: 14px;
    left: 10px;
}

.gps-estado img {
    height: 30px;
    width: 30px;
}

.settings-icon {
    position: absolute;
    z-index: 1000;
    height: 90%;
    width: auto;
    top: 14px;
    right: 8px;
}

.settings-icon img {
    height: 30px;
    width: 30px;
}

.content-search .input-group-btn {
    position: absolute;
    left: 1px;
    top: 13px;
    z-index: 10;
}

.content-search .form-control {
    margin: 0;
}

.input-group-btn2 {
    position: absolute;
    background: transparent;
    width: 40px;
    z-index: 9000;
    left: -2px;
    top: 13px;
}

.content-search .ui-btn {
    border: 0;
    background: transparent;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}

.content-search .ui-input-text {
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: transparent;
    border: 0;
}

.btn-search {
    background: none;
    border: 0;
}

footer p {
    width: 90%;
    margin: 7% 3%;
    color: #fff;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.1px;
}

.row.footer-home {
    position: fixed;
    bottom: 0;
    left: 0;
}

#settings {}

#settings .row {
    position: relative;
}

#settings .wrapper {
    max-width: 555px;
    position: relative;
    margin: 0 auto;
}

#settings .top-settings {
    margin-bottom: 3px;
}

.mostrar-check, .content-slider {
    background: rgba(195, 194, 194, .6);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 45px 12px;
    padding: 3px 0;
    position: relative;
    float: left;
    width: 84%;
    margin: 0 8% 20px;
}

.mostrar-check .checkbox {
    margin: 6px 0 0 0;
}

.mostrar-check .ui-checkbox .ui-btn-icon-left .ui-icon, .mostrar-check .ui-radio .ui-btn-icon-left .ui-icon {
    left: 88%;
    border-radius: 0;
    border-width: 3px;
    border-color: #000;
    border-style: solid;
}

.mostrar-check .ui-icon-check:after, .mostrar-check .ui-btn.ui-checkbox-on.ui-checkbox-on:after {
    background-size: cover;
    background-color: red;
}

.top-settings img {
    width: 21px;
    padding: 25px 0;
    margin-left: 27px;
}

.top-settings h4 {
    text-align: center;
    padding: 28px 57px 0 0;
    font-size: 14px;
    font-weight: bold;
}

#settings .titulo {
    font-size: 15px;
    padding: 3px 48px;
    margin-bottom: 0;
    font-weight: bold;
}

.mostrar-check .ui-checkbox .ui-btn, .mostrar-check .ui-radio .ui-btn {
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0px 11px 0;
    margin: 10px 0;
    display: block;
    width: 100%;
    font-weight: bold;
}

#settings .ui-btn-icon-left:after {
    left: 28.5625em;
    border-radius: 0;
    border-width: 3px;
    border-color: #000;
    border-style: solid;
}

.mostrar-check  .ui-checkbox .ui-btn-icon-left .ui-btn-inner, .mostrar-check .ui-radio .ui-btn-icon-left .ui-btn-inner {
    background: none;
    border: 0;
    padding: 0;
}

.mostrar-check .checkbox{
    margin: 6px 0 0 0;
    position: relative;
    float: left;
    width: 100%;
}

.mostrar-check .radio input[type="radio"], .mostrar-check .radio-inline input[type="radio"], .mostrar-check .checkbox input[type="checkbox"], .mostrar-check .checkbox-inline input[type="checkbox"] {
    position: absolute !important;
    top: 11px !important;
    right: 78% !important;
    width: 16px;
    height: 16px;
    left: 89% !important;
    right: 0 !important;
}

#settings input.ui-slider-input, #settings .ui-field-contain input.ui-slider-input {
    position: absolute;
    top: -57px;
    right: -39px;
    font-weight: bold;
    border: 0;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 7px 0;
    text-align: right;
}

#settings div.ui-slider {
    position: relative;
    display: inline-block;
    overflow: visible;
    height: 2px;
    padding: 0;
    margin: 10px 10%;
    top: -6px;
    width: 80%;
    border-radius: 0;
    /* background-color: #000; */
    border-color: #000;
    background: rgba(0, 0, 0, 1);
}

#settings .ui-slider-track {
    margin: 0;
    top: -6px;
    padding: 0;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
}

#settings a.ui-btn.ui-slider-handle .ui-btn-inner {
    background-image: url(../img/slider-bolita.png);
    background-size: cover;
    background-position: 0 0px;
    border: 0;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: 0;
}

#settings .ui-controlgroup a.ui-slider-handle, #settings a.ui-btn.ui-slider-handle {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 25px;
    height: 25px;
    margin: -14px 0 0 -15px;
    outline: 0;
    border: 0;
    background: transparent;
    background-image: url(../img/slider-bolita.png);
    background-size: cover;
    background-position: 0 0px;
    border: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: 0;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.btn-guardar {
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-guardar .ui-btn {
    width: 200px;
    background: rgba(204, 55, 50, 1);
    color:#fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 0 auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
    text-shadow: 0px 0px 0px rgba(150, 150, 150, 0);
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-weight: bold;
}

.btn-guardar .ui-btn-inner {
    border: 0;
}

.btn-guardar button {
    font-family: 'Open Sans', sans-serif;
}

.content-menu-login {
    width: 80%;
    margin: 20px auto;
}

.content-menu-login.social {
    max-width: 270px;
}

.content-menu-login.social .row {
    margin-bottom: 10px;
}

.content-menu-login.texto {
    width: 70%;
    margin: 40px auto;
    max-width: 302px;
}

.content-menu-login.texto .ui-input-text {
      margin: 5px 0 0 0;
}

.content-menu-login.texto input[type="text"], .content-menu-login.texto input[type="email"], .content-menu-login.texto input[type="password"] {
    border-width: 0 0 1px 0;
    border-style: solid;
    font-size: 16px;
    color: #999;
    border-color: #000;
    width: 100%;
}

.content-menu-login.social img {
    width: 100%;
}

.content-menu-login.texto .links {
    margin: 10px 0;
}

.content-menu-login.texto .links a {
    color: #000;
    text-align: center;
    width: 100%;
    position: relative;
    display: block;
    text-decoration: underline;
}

/* REGISTRO */
.btn-registrarme {
    margin-bottom: 15px;
}

.content-registro {
    width: 90%;
    margin: 0 auto;
    max-width: 320px;
}

.content-registro input, .content-registro select {
    font-size: 11px;
    color: #000;
}

.content-registro.recuperar input {
    text-align: center;
    margin: 0 0 23px;
}

.registro-texto {
    width: 90%;
    margin: 0 auto;
    border-color: #929497;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-style: solid;
    padding: 7px 7px;
    max-width: 320px;
}

.registro-texto p {
    font-size: 10px;
    line-height: 11px;
}

.checkbox.aceptoterminos {
    text-align: center;
    width: 195px;
    margin: 10px auto;
    font-size: 10px;
    line-height: 21px;
}

.ingrese-mail {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin: 23px 0;
}
.scrollable-bases {
    height: auto;
    max-height: 180px;
    overflow-x: hidden;
}
.scrollable-bases::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}
.scrollable-bases::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: lightgray;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);
}
/* EDN REGISTRO */

/* COMENTARIOS */
.detalle-taller-content {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.detalle-taller-content p {
    font-size: 15px;
    font-weight: bold;
}

.detalle-taller-content .img-rating {
    width: 129px;
    top: -2px;
    position: relative;
    margin-left: 10px;
}

.titulo-descripcion {
    margin: 11px 0 6px;
}

.texto-descripcion {
    font-size: 12px !important;
}

.como-llego {
    font-size: 12px !important;
    color: #337ab7;
    text-decoration: none;
    margin: 0 10px;
}

.ver-comentarios {
    text-align: center;
    width: 100%;
    display: block;
    text-decoration: underline;
    font-size: 13px;
    margin-bottom: 10px;
}

.comentario {}

.comentario .titulo-comentario {
    font-size: 12px;
    margin-bottom: 3px;
}

.comentario .datos-usuario-comentario {
    font-size: 9px;
}

.comentario .img-rating-comentario {
    height: 19px;
    top: -3px;
    position: relative;
    margin: 0 10px;
}

.detalle-taller-content textarea {
    width: 100%;
    font-size: 12px;
    margin: 10px 0 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    resize: none;
    padding: 4px 5px;
    height: 50px;
}

.content-estrellas {
    max-width: 190px;
}

.content-estrellas p {
    font-size: 8px;
    font-weight: normal;
    margin: 2px 0;
}

.detalle-taller-content .col-xs-6 {
    margin: 0;
}

.detalle-taller-content .col-xs-6 .col-xs-2 {
    padding: 0;
}

.content-estrellas .content-estrella img {
    width: 100%;
    max-width: 27px;
    padding: 0 2px;
}

.bajada-comentarios {
    font-size: 9px !important;
    text-align: center;
    margin: 10px 0 15px;
}
.cantidad-comentarios{
    position: relative;
    text-align: left;
    font-size: 10px !important;
    padding-left: 152px;
    margin-top: -4px;
}
/* END COMENTARIOS */
/* AYUDA */
#ayuda {}

#ayuda h1, #cuenta h1 {
    color: #929497;
    text-align: left;
    text-align: left;
    padding: 0 0 0 15px;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 18px;
}

.link-item {
    position: relative;
    text-align: left;
    width: 100%;
    display: block;
    font-size: 15px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #929497;
}

.link-item:last-child {
    border-width: 1px 0;
}

.link-item p {
    font-size: 15px;
    padding: 10px 5px;
    color:#333;
    margin: 0;
}

.link-item a {
    font-size: 15px;
    text-decoration: none;
    color:#333;
}

.link-item a .arrow {
    position: absolute;
    right: 10px;
    width: 19px;
    top: 8px;
}

.link-item a .arrow-2 {
    position: absolute;
    right: 41px;
    width: 19px;
    top: 8px;
}

.link-item a .arrow-logo {
    position: absolute;
    right: 10px;
    width: 28px;
    top: 6px;
}

.link-item a .arrow img, .link-item a .arrow-2 img, .link-item a .arrow-logo img {
    width: 100%;
}

.content-preguntas {
    margin-top: 10px;
}

.item-pregunta {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item-pregunta p {
    padding: 0 10px;
    margin-bottom: 4px;
}

.item-pregunta .pregunta {
    font-size: 13px;
    color:#000;
}

.item-pregunta .respuesta {
    font-size: 11px;
    color:#929497;
}
/* END AYUDA */
/* CONTACTO */
#contacto{}
#contacto p{
    font-size: 18px;
    text-align: center;
    line-height: normal;
    margin-top: 50px;
}
#contacto p a{
      font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  color: #666;
}
/* END CONTACTO */
/* PANEL ADMINISTRACION */
#panel-administracion{}
#panel-administracion h1{
    font-size: 14px;
}
#panel-administracion h2{
    font-size: 12px;
    text-align: center;
    margin: 7px 0 23px 0;
    position: relative;
    float: left;
    width: 100%;
}
#panel-administracion h4{
    font-size: 14px;
    text-align: left;
    width: 100%;
    margin: 20px 0 11px 0;
}
#panel-administracion .tab-content{
      border-width: 1px;
  border-style: solid;
  border-color: #e9eaea;
}
#panel-administracion .tab-content .row{
    margin: 0;
}
#panel-administracion .tab-content .row:first-child{
    margin-top: 5px;
}
#panel-administracion .nav-tabs{
    border-color: #fff;
}
#panel-administracion .nav-tabs > li{
    margin-bottom: -2px;
}

#panel-administracion .nav-tabs > li > a, #panel-administracion .nav-tabs > li.active > a, #panel-administracion .nav-tabs > li.active > a:hover, #panel-administracion .nav-tabs > li.active > a:focus{
    border-width: 1px 1px 0;
    color:#e92429;
      padding: 5px 8px;
}
#panel-administracion .link-nuevo-servicio{
    font-size: 10px;
    text-decoration: underline;
    display: block;
    padding: 6px 2px;
    text-align: right;
      color: #e92429;
}
#panel-administracion .ajuste-grid{
    margin-left: 5px !important;
    margin-right: 5px !important;
}
#panel-administracion .ajuste-grid .col-xs-6:first-child{
    padding: 0 2px 0 0;
}
#panel-administracion .ajuste-grid .col-xs-6:nth-child(2){
    padding: 0 0 0 2px;
}
.content-background-listado{
    background-color: #e9eaea;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 0 5px 5px !important;
}
.content-background-listado .col-xs-4 {
      padding: 0 7px;
}
.content-background-listado .col-xs-4 p{
    text-align: center;
    color:#000;
    font-size: 13px;
    margin: 5px 0;
}
.content-background-listado.descripciones .col-xs-4 p{
    text-align: center;
    color:#000;
    margin: 5px 0;
    font-size: 11px;
      text-align: left;
}
/* END PANEL ADMINISTRACION */

/* MODAL */
.modal{
    z-index: 9600;
}
.modal-title{
    font-size: 16px;
    font-weight: bold;
}
.modal-body p{

}
/* EDN MODAL */
@media (max-width: 1024px) and (min-width: 992px) {
    footer p {
        margin: 2% 3%;
    }

    .content-mapa {
        height: 583px;
    }

    .content-search .input-group {
        width: 90%;
        margin: 0 5%;
    }

    .settings-icon {
        right: 17px;
    }
}

@media (max-width: 768px) and (min-width: 640px) {
    .content-mapa {
        height: 838px;
    }

    .settings-icon {
        right: 9px;
    }

    .content-search .input-group {
        width: 90%;
        margin: 0 5%;
    }
}

@media (min-width: 768px) {
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
    }
}

@media (max-width: 650px) {
    .content-mapa {
        height: 550px;
    }

    #settings .ui-btn-icon-left:after {
        left: 84%;
    }

    .content-menu-login.social {
        max-width: 200px;
    }

    footer p {
        font-size: 10px;
        margin: 6% 3%;
    }
}

@media (max-width: 320px) {
    .content-mapa {
        height: 380px;
    }
}

@media (max-width: 375px) and (min-height: 560px) {
    .content-mapa {
        height: 406px;
    }
}

@media (min-height: 480px) {
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
    }

}
@media (max-height: 550px) {
    footer.nofix {
        position: relative;
        bottom: 0;
        left: 0;
    }
}
